.side
  .side__header
    %h3.side__user testaccount
    .side__actions
      %span.glyphicon.glyphicon-cog{'aria-hidden': 'true'}
      %span.glyphicon.glyphicon-cog{'aria-hidden': 'true'}
  .side__content
    %ul.side-group
      %li
        .side-group__link
          %a{href: "#"}
            %p.side-group__name group1
            %p.side-group__message まだメッセージはありません
      %li
        .side-group__link
          %a{href: "#"}
            %p.side-group__name group2
            %p.side-group__message まだメッセージはありません
      %li
        .side-group__link
          %a{href: "#"}
            %p.side-group__name group3
            %p.side-group__message まだメッセージはありません
.chat-wrapper
  .chat-header
    .chat-header--left
      %h3.chat-header__title testGroup
      %p.chat-header__members
        "Members:"
        %span.chat-header__member test_acount
    .chat-header--right
      %a.chat-header__menu.bt.bt--gray edit
  .chat-body
    %ul.chat-messages
      %li.chat-message
        .chat-message__header
          %p.chat-message__name test3
          %p.chat-message__date 2016/10/27
          %p.chat-message__time 18:17
        %p.chat-message__content
          hogehoge
      %li.chat-message
        .chat-message__header
          %p.chat-message__name test3
          %p.chat-message__date 2016/10/27
          %p.chat-message__time 18:17
        %p.chat-message__content
          hogehoge
      %li.chat-message
        .chat-message__header
          %p.chat-message__name test3
          %p.chat-message__date 2016/10/27
          %p.chat-message__time 18:17
        %p.chat-message__content
          hogehoge
      %li.chat-message
        .chat-message__header
          %p.chat-message__name test3
          %p.chat-message__date 2016/10/27
          %p.chat-message__time 18:17
        %p.chat-message__content
          hogehoge
      %li.chat-message
        .chat-message__header
          %p.chat-message__name test3
          %p.chat-message__date 2016/10/27
          %p.chat-message__time 18:17
        %p.chat-message__content
          hogehoge
      %li.chat-message
        .chat-message__header
          %p.chat-message__name test3
          %p.chat-message__date 2016/10/27
          %p.chat-message__time 18:17
        %p.chat-message__content
          hogehoge
      %li.chat-message
        .chat-message__header
          %p.chat-message__name test3
          %p.chat-message__date 2016/10/27
          %p.chat-message__time 18:17
        %p.chat-message__content
          hogehoge
      %li.chat-message
        .chat-message__header
          %p.chat-message__name test3
          %p.chat-message__date 2016/10/27
          %p.chat-message__time 18:17
        %p.chat-message__content
          hogehoge
      %li.chat-message
        .chat-message__header
          %p.chat-message__name test3
          %p.chat-message__date 2016/10/27
          %p.chat-message__time 18:17
        %p.chat-message__content
          hogehoge
      %li.chat-message
        .chat-message__header
          %p.chat-message__name test3
          %p.chat-message__date 2016/10/27
          %p.chat-message__time 18:17
        %p.chat-message__content
          hogehoge
      %li.chat-message
        .chat-message__header
          %p.chat-message__name test3
          %p.chat-message__date 2016/10/27
          %p.chat-message__time 18:17
        %p.chat-message__content
          hogehoge2
    .chat-footer
      %form
        %textarea.message-box{row: 1}
        %input.message-submit.bt.bt--gray{type: 'submit', value: 'send'}