a {
    text-decoration: none;
    color: #fff;
  &:hover,:focus{
    color: #fff;
    text-decoration: none;
  }
}

.content-wrapper {
  min-width: $minWidth;
  height: $wrapperHeight;
}

.flash-messsage{
  padding: 0px;
  height: 30px;
  line-height: 30px;
  letter-spacing: 1px;
  color: #fff;
  font-weight: 200;
  text-align: center;
  &--alert{
    background-color: #d65f4c;
  }

  &--notice{
    background-color: #38aef0;
  }
}

